[submodule "lisp/go-mode.el"]
	path = lisp/go-mode.el
	url = https://github.com/dominikh/go-mode.el.git
[submodule "lisp/gocode"]
	path = lisp/gocode
	url = https://github.com/nsf/gocode.git
[submodule "list/multiple-cursors.el"]
	path = list/multiple-cursors.el
	url = https://github.com/magnars/multiple-cursors.el
